
  @import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;1,400;1,600;1,700&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Roboto:100,400,900');
  @import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700');

  :root {
    /* primary bg*/
    --bg-tiber: #08273B;

    /* secondary */
    --bg-wedgewood: #065379;
    
    /* primary font */
    --font-geyser: #DDE4E5;

    --font-active-Sinbad: #b4e8fa;
   
    /* light-orange */
    --hard--skills: #491600; 
    /*  light-green */
    --soft--skills: #8e9881;
  }

  

  /* *{
    color: #08273b8e;
  } */
  
  .stress{
    font-style: italic;
    font: bolder ;
    /* text-decoration: underline; */
    color:#491600;
  }

  .skills_desc2 {

    background-color: gainsboro;
    font-size: 2rem;
    text-decoration: underline;
  }

  .italic {
    font-style: italic;
  }

  .bold {
    font-size: 1.4rem;
    font-weight: 900;
  }



  .stress_skills_desc {
   
    color:black;

  }
  
  * {
    box-sizing: border-box;
  }

 body {
        margin: 0;
        padding: 0;
        font-family: 'Vollkorn', serif;
        font-size: 16px;
        color: var(--font-active-Sinbad);
        height: 100%;
        width: 100%;
        /* background-color: var(--font-active-Sinbad); */
     
    }


 .backdrop {
    display: none;
    position:fixed;
    top:0;
    left:0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background:rgba(0,0,0,0.5);
}


    a{
        text-decoration: none;
    }

     a:hover{
        color: var(--soft--skills);
        box-shadow: 0 -2px 0 0 var(--font-active-Sinbad);
    }

 .profile__name:hover{
       
        color: var(--soft--skills);
        box-shadow: none;
    }

    main{
        margin: 1%;
        margin-top: 100px;
        display: flex;
       
    }

    .section_border{
        margin: 5%;
        background-color:white ;
        padding:2%;
        border-radius: 1%;
    }
    
.main-header{
    display: flex;
    flex-wrap: nowrap;
    position:fixed;
    width: 100%;
    /* height: 4rem; */
    top: 0;
    background-color: var(--bg-wedgewood);
     /* padding: 0.2rem; */
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Inika', serif;
    box-shadow: 1px 1px 3px 8px #61616186 ;
    
}


.main-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 ; 
    
}

.main-nav ul {
    list-style-type: none;
}

.mobile-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 ;
}

.mobile-nav{
     display: none;
    position: fixed;
    z-index:  101;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.493);
    width: 80%;
    height: 100vh;
}



.mobile-nav__items{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    list-style: none;
    padding: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--soft--skills);

}

.mobile-nav__item{
    margin:2rem 0;
    font-size: 2rem;
   
    
}
.mobile-nav__item a{
    text-transform: uppercase;
    
    text-decoration: none;
    color: rgb(108, 109, 110);
    padding: 1rem 1.5rem;
    border-radius: 3px;
   
}

.mobile-nav__item a:visited {
    color: rgb(70, 70, 70);
  }

/* first child on main-nav */
.toggle-button {
    position: relative;
    /* top:0.3rem; */
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
  }
  
  .toggle-button:focus {
    outline: none;
   
  }

  
  .toggle-button__bar {
    width: 100%;
    height: 0.3rem;
    background: rgb(255, 255, 255);
    display: block;
    margin: 0.4rem 0;
  }


  .toggle-button {
    display: none;
  }

  
  .toggle-button {
    display: inline-block;
  }

.main-nav__item a:hover{
    color: var(--hard--skills);
    /* box-shadow: inset 0 -2px 0 0 var(--primary-cta-bg-green); */
}

.mobile-nav__item a:hover{
    color: var(--bg-wedgewood);
    background-color: var(--font-active-Sinbad);
    /* box-shadow: inset 0 -2px 0 0 var(--primary-cta-bg-green); */
}

/* main menu option styling */
.main-nav__item a {
    color: white;
    text-decoration: none;
    margin: 0 0.5rem;
    font-family:inherit;
}


/* profile name main menu style */
.main-nav__item .profile__name{
    color: white;
    text-decoration: none;
    margin: 0;
    margin-right: 7.5rem;
    font-family:inherit;
}



/* profile_name */

.main-nav:nth-child(2){
    flex-grow: 1; /* Set the middle element to grow and stretch */
  
    /* flex-wrap: nowrap; */
}

.main-nav__items{

    justify-content: center;
}

/* home blog github  */
.main-nav__items:nth-child(3){

    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 10%;
    height: 100%;
    margin-right:3rem ;
    /* media query display: flex */
    display:flex;
   
}




.skills{
    margin-top:2rem;
     display: flex;
     align-items: left;
     width: 49%;
     font-size: 1.4rem;
    }


footer{
   
    background: url('./assets/favicon_io/footer-bg-mark.png');
    opacity: 1;
   
}


.footer-water__mark{
    background:var(--font-geyser);
   color: black;
   box-shadow: 2px 0 10px 0px rgb(47, 60, 74);
   opacity: 0.95;
}

.network__info{
    flex-direction: row;
    justify-content: center;
    padding: 4rem;
    text-align: center;
    align-content: center;
    
}


.container_footer p, .network__items{
    margin:0.8rem 0;
    padding: 0;
    text-align: center;
}

.network__items{
    display: flex;
    flex-direction: row;
    
}

.network__item__cont{
    flex-direction: column;
    width: 100%;
}

.footer__captions{
    font-size: 1.2rem;
    text-align: center;
}

.credit__footer{
    font-size: 1.3rem;
}

.footer__logos {
    margin-top: 2rem;
    text-align: center;
    filter: grayscale(100%);
   
}

.footer__social-network {
    width: 2rem;
}

.network__items{
    margin: 0 0.5rem;
    padding: 1rem;
    flex-direction: row;
}

hr.gradient {
    height: 3px;
    border: none;
    border-radius: 6px;
    background: linear-gradient(
      90deg,
      var(--bg-wedgewood) 0%,
      var(--font-active-Sinbad) 6%,
      var(--bg-tiber) 55%,
      black 100%
    );
  }

  .education {
    padding: 1rem;
   
  }



/* .hero{
    display: block;
} */


/* .hero__skills{
    background-color:var(--bg-tiber);
    font-size: 1.5rem;
    line-height: 1.6rem;
    text-align: justify;
} */
 



@media (max-width:935px) {


    hr{
        display: none;
    }
    .section_border{
        
      
        margin-top:15%;
        flex-direction: column;
        width: 100%;
        align-items: center;
        border-radius: 1px;
        box-shadow: 0px 0px 5px 0px #292e32;
       
    }


    .skills, .hero__container .skills__desc, .hero__skills {
        display: none;
    }



    .profile, .profile_desc, .hero__container__image{
        width: 100%;
        
    }

   .hero__container__image{
    text-align: center;
    
  }

   .shadow__img{
    border-radius: 1%;
   
   }
   .profile_desc{
    font-size: 1.6rem;
   }

    p.desc {
        text-align: center;
    }

        profile name main menu style
    .main-nav__item .profile__name{
        color: white;
        text-decoration: none;
        margin: 0 0rem;
        margin-right:2.5rem;
        font-family:inherit;
    }

    .flex_item_2{
        display: inline-block;
        justify-content: center;
        align-items: center;
        justify-content: stretch;
        width:100%;
    }

    body{
        background-color: var(--font-active-Sinbad);
    }
    main {
        display: flex;
        margin:0;
        margin-top: 110px;
       
        flex-wrap: wrap;
        
    }

    .section_border{
        margin:1%;
        padding:1%;
    }



    .network__items{
        margin: 0 1rem;
        padding: 1.5rem;
        flex-direction: column;
    }


    .main-nav__items:nth-child(3){

        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        width: 10%;
        height: 100%;
        margin-right:1rem ;
        /* media query display: flex */
        display:none;
       
    }

    .main-nav__items:nth-child(2) a{

        
        margin-right:2rem ;
        /* media query display: flex */
       
       
    }

    .experience ul{
        list-style-type: none;
       
    }

    .font__bigger > li{
        margin-bottom: 1rem;
        margin-left: -35px;
    }
  
 .backdrop {
   
    position:fixed;
    top:0;
    left:0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background:rgba(0,0,0,0.5);
}
    
}


@media (min-width: 1345px) {
    
    body{
        background-color: var(--font-active-Sinbad);
    }
    main{
        margin:0 13%;
        margin-top: 1%;
        padding: 7%;
       
    }

    .section_border{
        margin: 1%;
        padding: 24px;
        border-radius: 10px;
        background-color:white;
    }

    .hero__skills {
        padding:2rem;
    }

    .main-nav_items {
        margin: 0;
        padding: 0;
    }

    /* profile name main menu style */
    .main-nav__item .profile__name{
        color: white;
        text-decoration: none;
        margin: 0;
        font-family:inherit;
    }
   
    
    .main-nav__items:nth-child(3) {
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        width: 10%;
        height: 100%;
        margin-right:3rem ;
    }

    .flex_item_2{
        display: inline-block;
        justify-content: center;
        align-items: center;
        justify-content: stretch;
        width: 49%;
    }
    
    .flex_item_3{
        display:flex;
        align-items: flex-end;
        justify-content: right;
        justify-content: stretch;
        width: 33%;
    }

   
    .network__items{
        margin: 0 1rem;
        padding: 1.5rem;
        flex-direction: row;
    }

    .backdrop {
        /* display: block; */
        position:fixed;
        top:0;
        left:0;
        z-index: 100;
        width: 100%;
        height: 100vh;
        background:rgba(0,0,0,0.5);
    }

}