
  @import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;1,400;1,600;1,700&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Roboto:100,400,900');
  @import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700');

  :root {
    /* primary bg*/
    --bg-tiber: #08273B;

    /* secondary */
    --bg-wedgewood: #065379;
    
    /* primary font */
    --font-geyser: #DDE4E5;

    --font-active-Sinbad: #b4e8fa;
   
    /* light-orange */
    --hard--skills: #491600; 
    /*  light-green */
    --soft--skills: #8e9881;
  }

  

  /* *{
    color: #08273b8e;
  } */
  
  .stress{
    font-style: italic;
    font: bolder ;
    /* text-decoration: underline; */
    color:#491600;
  }

  .skills_desc2 {

    background-color: gainsboro;
    font-size: 2rem;
    text-decoration: underline;
  }

  .italic {
    font-style: italic;
  }

  .bold {
    font-size: 1.4rem;
    font-weight: 900;
  }



  .stress_skills_desc {
   
    color:black;

  }
  
  * {
    box-sizing: border-box;
  }

 body {
        margin: 0;
        padding: 0;
        font-family: 'Vollkorn', serif;
        font-size: 16px;
        color: var( --font-geyser);
        height: 100%;
        width: 100%;
        /* background-color: var(--font-active-Sinbad); */
     
    }

    a{
        text-decoration: none;
    }

     a:hover{
        color: var(--soft--skills);
        box-shadow: 0 -2px 0 0 var(--font-active-Sinbad);
    }

 .profile__name:hover{
       
        color: var(--soft--skills);
        box-shadow: none;
    }

    main{
        display: flex;
       
    }

    .section_border{
        margin: 3%;
        background-color: var(--font-active-Sinbad) ;
        padding:2%;
        border-radius: 1%;
    }
    
.main-header{
    display: flex;
    flex-wrap: nowrap;
    position:fixed;
    width: 100%;
    /* height: 4rem; */
    top: 0;
    background-color: var(--bg-wedgewood);
     /* padding: 0.2rem; */
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Inika', serif;
    box-shadow: 1px 1px 3px 8px #61616186 ;
    
}


.main-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 ; 
    
}

.main-nav ul {
    list-style-type: none;
}

.mobile-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 ;
}

/* first child on main-nav */
.toggle-button {
    position: relative;
    top:0.3rem;
    width: 2.5rem;
    height: 1.5rem;
    height: auto;
    background: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
  }
  
  .toggle-button:focus {
    outline: none;
   
  }

  
  .toggle-button__bar {
    height: 0.3rem;
    background: rgb(255, 255, 255);
    display: block;
    margin: 0.5rem 0;
  }


  .toggle-button {
    display: none;
  }

  
  .toggle-button {
    display: inline-block;
  }

.main-nav__item a:hover{
    color: var(--hard--skills);
    /* box-shadow: inset 0 -2px 0 0 var(--primary-cta-bg-green); */
}

/* main menu option styling */
.main-nav__item a{
    color: white;
    text-decoration: none;
    margin: 0 0.5rem;
    font-family:inherit;
}

/* profile name main menu style */
.main-nav__item .profile__name{
    color: white;
    text-decoration: none;
    margin: 0;
    margin-right: 7.5rem;
    font-family:inherit;
}



/* profile_name */

.main-nav:nth-child(2){
    flex-grow: 1; /* Set the middle element to grow and stretch */
  
    /* flex-wrap: nowrap; */
}

.main-nav__items{

    justify-content: center;
}

/* home blog github  */
.main-nav__items:nth-child(3){

    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 10%;
    height: 100%;
    margin-right:3rem ;
    /* media query display: flex */
    display:none;
   
}

.mobile-nav{
    display: none;
}


main {
    display: flex;
    margin: 10% 5%;
    padding: 3%;
    flex-wrap: wrap;
}




/* first section skills and photo */


.hero{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: black;
   
}

/* 
.hero__container{
 display: flex;
 align-items: center;
 width: 100%;

} */

.skills{
margin-top:2rem;
 display: flex;
 align-items: left;
 width: 49%;
 font-size: 1.4rem;
}
.skills ul{
    list-style-type: square;
}

.skills .title{
    display: flex;
    justify-content: center;
    font-weight: 900;
}

.skills > ul > li{
    margin: 0.2rem 0;
}

ul .title {
       
    list-style-type: none;
    
}


img{
    border-radius: 5%;
    /* width: 100%;
    height: 100%; */
    max-width: 18rem;
    max-height: auto;
    /* margin: 0 2rem; */
    /* margin-bottom: 4rem; */
    /* align-self: center; */
   
}

.shadow__img{
    
    box-shadow: 2px 2px 5px 1px var(--bg-tiber) ;
}

/* container for profile picture and phrase  */
.profile{
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 48%;
 padding-top: 2.5rem;
 /* padding-left: auto; */
}


.yourname{
    text-indent: 1rem;
    padding:0;
    margin: 1rem 0;
}

.hero__container__image{
    
    /* align-items: center; */
    /* width:18rem; */
}

.profile_desc{
    font-weight: 'Inika', serif;
    font-style: italic;
    font-size: 1.4rem;
    text-align: justify;
    width: 18rem;
}

.skills__desc{
    /* background-color: var(--bg-wedgewood); */
   
    display: flex;
    align-items: center;
    width: 100%;
    
}
/* skills description */

/* styling p hero section  */
.hero__skills{
    /* background-color:var(--bg-wedgewood ); */
    margin:0;
    height:100vh;
    place-content:center;
    width: 100%;
    margin: 1rem 0;
    border-radius: 3px;
    color: black;
    font-size: 1.6rem;
    padding: 2rem;
    text-indent: 1rem;
    text-align: justify;
    
}

/* effect for skills desc */

.scrollbox {
    overflow: auto;
    width: 100%;
    height: 16rem;
    max-height: 160px;
    
    --g:radial-gradient(55% 20px, var(--bg-wedgewood) , #08273b8e; );  
    background: 
      linear-gradient(#ffffff 10px, #0000 5px calc(100% - 5px),#fff calc(100% - 10px)) local, 
      var(--g) top   /100% 200%,    
      var(--g) bottom/100% 200%;
  }

/* for experience sections */

.experience{
    /* background-color: var(--bg-wedgewood ); */
    padding: 1rem;
}
.experience ul{
    list-style-type: square;
}

.exp__inf{
    width: 100%;
   
}

.flex_container{
    display: flex;
    margin: 4% 0;
    flex-flow: row;
    flex-wrap: wrap;
    background-color: #ffffff;
    box-shadow: 1px 1px 8px 2px var(--bg-wedgewood ) ;
}

.flex_item_1{
    display: inline-block;
    justify-content: center;
    align-items: center;
    justify-content: stretch;
    width: 100%;
}

.flex_item_2{
    display: inline-block;
    justify-content: center;
    align-items: center;
    justify-content: stretch;
    width: 49%;
}

.flex_item_3{
    display: inline-block;
    justify-content: center;
    align-items: center;
    justify-content: stretch;
    width: 33%;
}

.flex_item__bigger{
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    justify-content: stretch;
    flex-grow: 2;
}

.align-left {
   text-align: left;
   align-items: left;
}

.align-right{
    text-align: right;
    align-items:right;
}

.font__bigger{
    font-size: 1.5rem;
}


.hard{
    color: var(--hard--skills);
}

.soft{
    color: var(--soft--skills);
}


/* footer styling */



footer{
    background: url('assets/favicon_io/footer-bg-mark.png');
    opacity: 1;
   
}

.footer-water__mark{
    background:var(--font-geyser);
   color: black;
   box-shadow: 2px 0 10px 0px rgb(47, 60, 74);
   opacity: 0.95;
}

.network__info{
    flex-direction: row;
    margin: 0 4rem;
    padding: 4rem;
    text-align: center;
    align-content: center;
    
}


.container_footer p, .network__items{
    margin:0.8rem 0;
    padding: 0;
    text-align: center;
}

.network__items{
    display: flex;
    flex-direction: row;
    
}

.network__item__cont{
    flex-direction: column;
    width: 100%;
}

.footer__captions{
    font-size: 1.2rem;
    text-align: center;
}

.credit__footer{
    font-size: 1.3rem;
}

.footer__logos {
    margin-top: 2rem;
    text-align: center;
    filter: grayscale(100%);
   
}

.footer__social-network {
    width: 2rem;
}

.network__items{
    margin: 0 0.5rem;
    padding: 1rem;
    flex-direction: row;
}

/* .hero{
    display: block;
} */


/* .hero__skills{
    background-color:var(--bg-tiber);
    font-size: 1.5rem;
    line-height: 1.6rem;
    text-align: justify;
} */
 



@media (max-width:935px) {



    .section_border{
        margin-top:5%;
        flex-direction: column;
        width: 100%;
        align-items: center;
        box-shadow: 0px 0px 5px 0px #08273B;
       
    }

   

    .skills, .hero__container .skills__desc, .hero__skills {
        display: none;
    }



    .profile, .profile_desc, .hero__container__image{
        width: 100%;
    }

   .hero__container__image{
    text-align: center;
   }

   .profile_desc{
    font-size: 1.6rem;
   }

    p.desc {
        text-align: center;
    }

        /* profile name main menu style */
    .main-nav__item .profile__name{
        color: white;
        text-decoration: none;
        margin: 0 0rem;
        margin-right:2.5rem;
        font-family:inherit;
    }

    .flex_item_2{
        display: inline-block;
        justify-content: center;
        align-items: center;
        justify-content: stretch;
        width:100%;
    }

    .section_border {
       
        border-radius: 0;
    }



    .network__items{
        margin: 0 1rem;
        padding: 1.5rem;
        flex-direction: column;
    }


    
  
    
}


@media (min-width: 1160px) {
    
    main{
        margin: 6% 12%;
    }

    .section_border{
        margin: 3%;
    }

    .hero__skills {
        padding:2rem;
    }

    .main-nav_items {
        margin: 0;
        padding: 0;
    }

    /* profile name main menu style */
    .main-nav__item .profile__name{
        color: white;
        text-decoration: none;
        margin: 0;
        font-family:inherit;
    }
   
    

    .main-nav__items:nth-child(1){
        /* display:none; */
    }

    .main-nav__items:nth-child(2){
        /* margin-right: 3%; */
    }
    
    .main-nav__items:nth-child(3) {
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        width: 10%;
        height: 100%;
        margin-right:3rem ;
    }

   
    .network__items{
        margin: 0 1rem;
        padding: 1.5rem;
        flex-direction: row;
    }


}