*{
    box-sizing: border-box;
    color: black;
    /* font-family: Arial, Helvetica, sans-serif; */
}

/* main {
    margin: 9% 3%;
    display: flex;
   
} */


.show {
    display:flex ;
}

.hide {
    display: none;
    visibility: hidden;
}

.left-container{
    
    max-width: 150px;
    
}
.post-container {
    margin: 0% 5%;
    flex-grow: 1; /* Set the middle element to grow and stretch */
    
}

.right-container{
    max-width: 150px;
    
}

.post {
    background: whitesmoke;
    /* border: dashed lightgray; */
    border-radius: 3px;
    padding:2rem;
    margin: 2% 0;
}



.comment {
    background: white;
    border-top: dashed lightgray; 
    /* border: dashed lightgray; */
    padding: 1rem;
    padding-bottom: 0;
    /* text-indent: 1rem; */
    width: 100%;
   justify-items: left;
}



.comment_author, .post_author {
    padding-top: 0;
    display: inline-block;
    font-size: 0.7rem;
    width: 100%;
    height: fit-content;
    text-align: right;
}

.comment_post {
    display: flex;
    margin-bottom: 0.1rem;
    margin-top: 0.5rem;
    justify-content: center;
}

.comment_post:hover{
    transform: scale(1.3,1.3);
}
.comment_post:active{
    transform: scale(1,1);
}


.button_comment_reply {
    justify-content:right;
}

.comment_add > button{
    margin-right: 0.3rem;
    font-size: 1.2rem;
}

.button_comment_reply{
    background-color: transparent;
    border: 0;
    font-weight: 500;
    padding: 0;
    cursor: pointer;
}

.container__commnent_form{
    display: flex;
    width: 100%;
}

.comment-form{
   
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* margin: 0.2rem; */
    /* margin-left: 2.5rem; */
   
}

.comment-form > input {
   font-size: 1.3rem;
   width: fit-content;
   margin-top: 0;
   margin-bottom: 0.5rem;
   outline: none;
}

.comment-form > textarea {
    margin-bottom: 0.5rem;
    outline: none;
}

.comment-form-buttons-container{
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
}

.comment-form-buttons-container > button{
   
    font-size: 1.3rem;
    margin: 0.3rem;
    width: 50%;
}

.comment-form-buttons-container > button:hover{
    background-color:floralwhite;
    outline: none;
}


#username-input {
    margin: 0.8% 0;
    border: none;
    font-size: 1.2rem;
}
.comment_input{
    margin: 0.8% 0;
    border: none;
    font-size: 1.2rem;
}